{% extends 'layout.html' %}

{% block title %}Bem-vindo ao Paste OS - PasteOS{% endblock %}

{% block content %}
    <h2>Bem-vindo ao Paste OS</h2>
    <p>Um sistema de código aberto inspirado no Pastebin.</p>
    <p>Desenvolvido utilizando HTML, CSS, Flask e JSON como base de dados, o Paste OS oferece uma experiência robusta para compartilhamento e armazenamento de códigos.</p>
    <p>Com um sistema de pesquisa eficiente, os usuários podem facilmente encontrar e acessar seus snippets de código, sejam eles listados ou não. A inclusão de GUIDs para os links proporciona uma identificação única, garantindo a integridade e a acessibilidade dos conteúdos compartilhados.</p>
    <p>Este sistema foi concebido e implementado por Kensdy. Para mais detalhes e contribuições, visite o repositório oficial em <a href="https://github.com/kensdy/PasteOS" target="_blank">https://github.com/kensdy/PasteOS</a>. Agradecemos por fazer parte da comunidade Paste OS!</p>
{% endblock %}
